<!-- Navbar -->
<app-navbar></app-navbar>
<table class="quizAdapter-table">
  <tr>
    <!-- Sidebar -->
    <td class="sidebar-column">
      <app-sidebar></app-sidebar>
    </td>
    <!-- Main Content -->
    <td class="quizAdapter-column">
      <!-- Title Header -->
      <div class="courseTitle">
        <h1>{{ courseInfo?.courseName }}</h1>
        <h2>Quiz Upload - Adapter Configuration</h2>
    </div>      
    <table class="tableContent">
    <tr class="tableTop">
      <!-- Configuration Column -->
        <td class="configColumn">
          <form [formGroup]="configForm" (ngSubmit)="submitConfig()">
            <div class="configAction">
                <h1>Configuration</h1>
                <div class="quizConfig">
                  <!----------- Main Configuration ----------->
                  <h2>Quiz Upload Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="accessQuiz">Solve previous quiz to access next</label>
                      <select id="accessQuiz" #accessQuiz class="form-control" [(ngModel)]="accessQuizSelect" formControlName="accessQuiz">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="skipQuiz">Skip quiz possible</label>
                      <select id="skipQuiz" #skipQuiz class="form-control" [(ngModel)]="skipQuizSelect" formControlName="skipQuiz">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="hint">Hints possible</label>
                      <select id="hint" #hint class="form-control" [(ngModel)]="hintSelect" formControlName="hint">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Course Timeline Configuration ----------->
                <div class="courseConfig" *ngIf="linkedAdapter.includes('Course Timeline')">
                  <h2>Course Timeline Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label>Max. # quizzes per period</label>
                      <input type="text" class="form-control" placeholder="5">
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Solve quiz for completing period</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Knowledge Progress Configuration ----------->
                <div class="knowledgeConfig" *ngIf="linkedAdapter.includes('Knowledge Progress')">
                  <h2>Knowledge Progress Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Influence of solving quizzes on knowledge (in %)</label>
                      <input type="text" class="form-control" placeholder="40 (max. 100)">
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Times a quiz needs to be solved to successfully gained knowledge</label>
                      <input type="text" class="form-control" placeholder="3">
                    </div>
                  </div>
                </div>
                <!----------- Gamification Configuration ----------->
                <div class="gamificationConfig" *ngIf="linkedAdapter.includes('Gamification')">
                  <h2>Gamification Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label>Points for solving a quiz</label>
                      <input type="text" class="form-control" placeholder="50 (max. 100)">
                    </div>
                  </div>
                </div>
                <!-- Dashboard Integration -->
                <div class="dashboardConfig">
                  <h2>Student Dashboard</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-6 formElement">
                      <label for="dashboard">Show Quiz Section in Student Dashboard</label>
                      <select id="dashboard" #dashboard class="form-control" (change)="onChange(dashboard.value)" [(ngModel)]="dashboardSelect" formControlName="dashboard">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                        <div [style.display]="displayDash">
                          <p>Preview: (Example)</p>
                          <button type="button" class="btn btn-secondary editDash"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon">edit</mat-icon></button>                     
                          <div class="dashPreview">
                            <h2>Quizzes</h2>
                            <ul class="list-group quizList">
                              <li class="list-group-item quiz">
                                <p>60% - Pronunciation I</p>
                                <button type="button" class="btn btn-success linkQuiz">Continue Quiz</button>
                              </li>
                              <li class="list-group-item quiz">
                                <p>0% - Pronunciation II</p>
                                <button type="button" class="btn btn-success linkQuiz">Start Quiz</button>
                              </li>
                              <li class="list-group-item quiz">
                                <p>0% - Pronunciation III</p>
                                <button type="button" class="btn btn-success linkQuiz" disabled>Start Quiz</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save Configuration</button>
            </div>
          </form>
        </td>
        <td>
          <!-- Correlating Column -->
          <div class="correlationColumn">
            <h1>Correlating Adapters</h1>
            <div class="linkedAdapter">
              <!----------- Linked Adapters ----------->
              <h2>Linked Adapters</h2>
              <ul class="list-group adapterList">
                <li class="list-group-item adapter" *ngFor="let adapter of linkedAdapter">
                  <p>{{ adapter }}</p>
                  <button type="button" class="btn btn-danger linkAdapter"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon" (click)="delAdapter(adapter)">link_off</mat-icon></button>
                </li>
              </ul>
            </div>
            <div class="notLinkedAdapter">
              <!----------- Unlinked Adapters ----------->
              <h2>Unlinked Adapters</h2>
              <ul class="list-group adapterList">
                <li class="list-group-item adapter" *ngFor="let adapter of notLinkedAdapter">
                  <p>{{ adapter }}</p>
                  <button type="button" class="btn btn-success linkAdapter"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon" (click)="addAdapter(adapter)">link</mat-icon></button>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </td>
  </tr>
</table>
