<!-- Navbar -->
<app-navbar></app-navbar>
<table class="courseAdapter-table">
  <tr>
    <!-- Sidebar -->
    <td class="sidebar-column">
      <app-sidebar></app-sidebar>
    </td>
    <!-- Main Content -->
    <td class="courseAdapter-column">
      <!-- Title Header -->
      <div class="courseTitle">
        <h1>{{ courseInfo?.courseName }}</h1>
        <h2>Course Timeline - Adapter Configuration</h2>
    </div>      
    <table class="tableContent">
      <tr class="tableTop">
        <!-- Configuration Column -->
        <td class="configColumn">
          <form [formGroup]="configForm" (ngSubmit)="submitConfig()">
            <div class="configAction">
                <h1>Configuration</h1>
                <div class="courseConfig">
                  <!----------- Main Configuration ----------->
                  <h2>Course Timeline Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="periodLength">Task period length</label>
                      <select id="periodLength" #period class="form-control" [(ngModel)]="lengthSelect" formControlName="periodLength">
                        <option value="oneWeek">1 week</option>
                        <option value="twoWeeks">2 weeks</option>
                        <option value="threeWeeks">3 weeks</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="periodStart">Period start day</label>
                      <select id="periodStart" #periodStart class="form-control" [(ngModel)]="startSelect" formControlName="periodStart">
                        <option value="monday">Monday</option>
                        <option value="tuesday">Tuesday</option>
                        <option value="wednesday">Wednesday</option>
                        <option value="thursday">Thursday</option>
                        <option value="friday">Friday</option>
                        <option value="saturday">Saturday</option>
                        <option value="sunday">Sunday</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="warning">Warn students when running late</label>
                      <select id="warning" #warning class="form-control" [(ngModel)]="warningSelect" formControlName="warning">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Gamification Configuration ----------->
                <div class="gamificationConfig" *ngIf="linkedAdapter.includes('Gamification')">
                  <h2>Gamification Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="points">Full points when solving in time</label>
                      <select id="points" #points class="form-control">
                        <option selected>Choose...</option>
                        <option >true</option>
                        <option>false</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label>Negative points for late submission</label>
                      <input type="text" class="form-control" placeholder="25 (max. 100)">
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Show score evolvement in timeline</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Flashcard Configuration ----------->
                <div class="flashcardsConfig" *ngIf="linkedAdapter.includes('Flashcards')">
                  <h2>Flashcard Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState"></label>
                      <label for="inputState">Enable Chapter-based Vocabulary</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Enable Vocabulary deadline</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Knowledge Progress Configuration ----------->
                <div class="knowledgeConfig" *ngIf="linkedAdapter.includes('Knowledge Progress')">
                  <h2>Knowledge Progress Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Course goal for progress</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Late submission affect progress</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Quiz Upload Configuration ----------->
                <div class="quizConfig" *ngIf="linkedAdapter.includes('Quiz Upload')">
                  <h2>Quiz Upload Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label>Max. # quizzes per period</label>
                      <input type="text" class="form-control" placeholder="5">
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Solve quiz for completing period</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!----------- Video Upload Configuration ----------->
                <div class="videoConfig" *ngIf="linkedAdapter.includes('Video Upload')">
                  <h2>Video Upload Configuration</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-4 formElement">
                      <label>Max. # videos per period</label>
                      <input type="text" class="form-control" placeholder="5">
                    </div>
                    <div class="form-group col-md-4 formElement">
                      <label for="inputState">Watch videos for completing period</label>
                      <select id="inputState" #inputState class="form-control" >
                        <option selected>Choose...</option>
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- Dashboard Integration -->
                <div class="dashboardConfig">
                  <h2>Student Dashboard</h2>
                  <div class="form-row formRow">
                    <div class="form-group col-md-6 formElement">
                      <label for="dashboard">Show Course Timeline in Student Dashboard</label>
                      <select id="dashboard" #dashboard class="form-control" (change)="onChange(dashboard.value)" [(ngModel)]="dashboardSelect" formControlName="dashboard">
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                        <div [style.display]="displayDash">
                          <p>Preview: (Example)</p>
                          <button type="button" class="btn btn-secondary editDash"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon">edit</mat-icon></button>                     
                          <div class="dashPreview">
                            <h2>Course Timeline</h2>
                            <div class="line"></div>
                            <div class="statusCircle"></div>
                            <p class="week">Week 5:</p>
                            <p>Video - Pronunciation II</p>
                            <p>Quiz - Pronunciation II</p>
                            <div class="line"></div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save Configuration</button>
            </div>
          </form>
        </td>
        <td>
          <!-- Correlating Column -->
          <div class="correlationColumn">
              <h1>Correlating Adapters</h1>
              <div class="linkedAdapter">
                <!----------- Linked Adapters ----------->
                <h2>Linked Adapters</h2>
                <ul class="list-group adapterList">
                    <li class="list-group-item adapter" *ngFor="let adapter of linkedAdapter">
                        <p>{{ adapter }}</p>
                        <button type="button" class="btn btn-danger linkAdapter"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon" (click)="delAdapter(adapter)">link_off</mat-icon></button>
                    </li>
                </ul>
              </div>
              <div class="notLinkedAdapter">
                <!----------- Unlinked Adapters ----------->
                <h2>Unlinked Adapters</h2>
                <ul class="list-group adapterList">
                  <li class="list-group-item adapter" *ngFor="let adapter of notLinkedAdapter">
                      <p>{{ adapter }}</p>
                      <button type="button" class="btn btn-success linkAdapter"><mat-icon aria-hidden="false" aria-label="Example home icon" class="linkIcon" (click)="addAdapter(adapter)">link</mat-icon></button>
                  </li>
                </ul>
              </div>
          </div>
        </td>
      </tr>
    </table>
</td>
</tr>
</table>
